{% extends "base.html" %}
<!--  -->
{% block title %} {{user.username}} {% endblock %}
<!--  -->
{% block main_section %}
<!--  -->
{% with messages = get_flashed_messages(with_categories = True) %}
<!--  -->
{% if messages %}
<aside class="flashes">
  {% for category, message in messages %}
  <p class="{{category}}">{{ message }}</p>
  {% endfor %}
</aside>
{% endif %}
<!--  -->
{% endwith %}

<main class="user-main">
  <div class="container">
    <section class="user-data">
      <article>
        {%if user.profile_photo%}
        <img
          src="{{ url_for('static', filename='upload/' + user.profile_photo) }}"
          alt="Profile Photo"
        />

        {%endif%}
        <h1>{{user.username}}</h1>

        <p>{{user.email}}</p>
      </article>
      <article>
        <p class="budget-for">
          Budget for {{user.budget.month}}, {{user.budget.year}} :
          <b> {{user.budget.amount}}$ </b>
        </p>
        <p>Tottal spent: <b id="tottal-js"></b></p>
      </article>
    </section>
  </div>
  <section id="sections-nav">
    <ul>
      <li data-index="0" class="active">Tottal</li>
      <li data-index="1">Add Budget</li>
      <li data-index="2">Add Expanses</li>
    </ul>
  </section>
  <div class="container">
    <div class="stat-area">
      <section id="totallExpanses">
        <h2>Your Tottal Expanses</h2>
        <section>
          <canvas id="totalChart" data-userId="{{user.id}}"></canvas>
        </section>
      </section>

      <section id="addBudget" class="hidden">
        {% if budgets %}
        <h2>Your Budgets</h2>
        <table class="budget-table">
          <thead>
            <tr>
              <th>Month</th>
              <th>Year</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            {% for budget in budgets %}
            <tr>
              <td>{{ budget.month }}</td>
              <td>{{ budget.year }}</td>
              <td>{{ budget.amount }}$</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}

        <article class="add-budget-form">
          <h3>Add a Budget or Change Existing</h3>
          <form method="POST">
            {{ budget_form.hidden_tag() }}

            <label for="budgetDate">Select Month:</label>
            {{ budget_form.budget_month(id="budgetDate", min="2025-03",
            required=True) }}
            <label for="budgetYear">Select Year:</label>
            {{ budget_form.budget_year(id="budgetYear", required=True) }}

            <label for="budgetAmount">Budget Amount:</label>
            {{ budget_form.budget_amount(id="budgetAmount", required=True) }} {{
            budget_form.submit() }}
          </form>
        </article>
      </section>

      <section id="addExpanses" class="hidden">
        <h2>Your expanses in March</h2>

        <article>
          <canvas id="expansesChart" data-userId="{{user.id}}"></canvas>
        </article>

        <table class="budget-table">
          <thead>
            <tr>
              <th>Amount</th>
              <th>Description</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            {% for expanse in expanses %}
            <tr>
              <td>{{ expanse.amount }}</td>
              <td>{{ expanse.description }}</td>
              <td>{{ expanse.date }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <form method="POST" class="expanses-form">
          {{ expanses_form.hidden_tag() }}

          <label for="{{ expanses_form.expanse_category.id }}"
            >Choose a category:</label
          >
          {{ expanses_form.expanse_category(class="form-control") }}

          <label for="{{ expanses_form.expanse_amount.id }}"
            >Expanse Amount:</label
          >
          {{ expanses_form.expanse_amount(class="form-control", required=True)
          }}

          <label for="{{ expanses_form.expanse_desc.id }}"
            >Short Description:</label
          >
          {{ expanses_form.expanse_desc(class="form-control",
          placeholder="Description") }}

          <label for="{{ expanses_form.expanse_date.id }}">Date:</label>
          {{ expanses_form.expanse_date(class="form-control", required=True) }}
          {{ expanses_form.submit(class="btn btn-primary") }}
        </form>
        <p class="message"></p>
      </section>
    </div>
  </div>
</main>
{% endblock %}
<!--  -->
{%block script%}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="{{ url_for('static', filename='js/userExpanses.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{%endblock%}
